/**/.springBeans.new
/**/.classpath.bak

/**/addonsrc/*
/**/classes/*
/**/commonwebsrc/*
/**/eclipsebin/*

/**/*_bof.jar
*-testclasses.xml
*.class
/**/build.xml
/**/extensioninfo.xsd
/**/gensrc/*
wro_addons.xml
beans.xsd
items.xsd
platformhome.properties

electronicsstorefront/web/webroot/**/addons/*
electronicsstorefront/web/webroot/**/addons/*